@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  color-scheme: light;
}
@keyframes batFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes batWingLeft {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(20deg);
  }
}

@keyframes batWingRight {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-20deg);
  }
}